body{
  background: #e5e5e5;
  margin: 0;
}
header{
  display: flex;
  justify-content: space-around;
  width: 780px;
  max-width: 100%;
  padding: 30px 0px;
  margin: 0 auto;
  background: #fff;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}
.logo a {
  color:rgba(0, 0, 0, 0.8);
  font-size: 18px;
  transition: all 0.2s ease-out;
}
.logo a:hover{
  color:#000;
}
.logo p{
  color: rgba(0, 0, 0, 0.8);
  font-size:12px;
}
.menu{
  display: flex;
}
.menu li a{
  color: rgba(69, 69, 69, 0.8);
  padding-left: 10px;
  transition: all 0.2s ease-out;
}
.menu li a:hover{
  color: #000;}
