html{
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
}
body{
  background: #e5e5e5;
  margin: 0;
}
header{
  display: flex;
  justify-content: space-around;
  width: 1170px;
  max-width: 100%;
  padding: 30px 0px;
  margin: 0 auto;
  background: #fff;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}
.logo a {
  color:rgba(0, 0, 0, 0.8);
  font-size: 18px;
  transition: all 0.2s ease-out;
}
.logo a:hover{
  color:#000;
}
.logo p{
  color: rgba(0, 0, 0, 0.8);
  font-size:12px;
}
.menu{
  display: flex;
}
.menu li a{
  color: rgba(69, 69, 69, 0.8);
  padding-left: 10px;
  transition: all 0.2s ease-out;
}
.menu li a:hover{
  color: #000;}

  .menu .importent a{
    color:#000;
  }
  /* <<<<<<<<<<<<<<<<<skider>>>>>>>>>>>>>> */
.slider{
height: 400px;
width: 1170px;
margin: 0 auto;
  background: url(image/slider.jpeg)
}
.headContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headContainer .heading{
font-size: 40px;
margin:0;
text-shadow: 0px 2px 25px rgba(0, 0, 0, 0.3);
color:#fff;
margin-top: 160px;
}

.headContainer .subtitle{
  margin: 0;
  font-size: 24px;
  text-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
  color:rgba(255, 255, 255, 0.8);
  transition: all 0.2s ease-out;
  }
  .headContainer .subtitle:hover{
    color:#fff
  }
  p::selection{
    background: transparent;
  }
  /* <<<<<<<<<<<<<<<<<<<<<<<<<<main>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
main{
  max-width: ;
  margin: 0 auto;
  box-shadow:  0px 0px 50px 1px rgba(0, 0, 0, 0.4);
  padding: 60px;
  background: #fff;
}
.textConent{
  width: 780px;
  margin: 0 auto;
}
.textConent p{
  margin: 30px 0px;
  line-height: 26px;
}
.description{
  text-align: center;
  margin: 30px 0px;
  line-height: 26px;
  font-size: 14px;
   color:#ababab;
}
.textConent p:first-child{
  font-weight: bold;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<footer>>>>>>>>>>>>>>>>>>>>>>>>> */
footer{
  width: 1170px;
  padding: 25px 0px;
  background: rgba(0, 0, 0, 0.9);

}
.fotcontent{
  width: 1170px;
  padding: 25px 0px;
  background:  rgba(0, 0, 0, 0.85);
}
.textContainer1{
  color:#a6a6a6;
  font-size: 13px;
  width: 780px;
  padding: 25px 0;
  text-align: center;
  margin: 0 auto;
}
.textContainer2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.textContainer2 a{
  display: flex;
  justify-content: center;
  align-items: center;
color:#fff;
height: 40px;
width: 40px;
margin: 3px;
border-radius: 3px;
font-size: 1.8rem;
opacity: .9;
transition: all 0.2s ease-out;
}
.textContainer2 a:hover{
opacity: 1;
}

.contact1{
  background: #265999
}
.contact2{
  background:#00b0ef;
}
.contact3{
  background:#0066ff;
}
.contact4{
  background:#0083d1;
}
.contact5{
  background:#ff7600;
}
